.App {
  max-width: 1440px;
  margin: auto;
}
.t_form {
  width: 320px;
  box-sizing: border-box;
  padding: 15px;
  background-color: white;
  border: 1px solid #000;
  position: fixed;
  z-index: 1;
  top: 3px;
  left: 30%;
  border-radius: 10px;
}
